/* home page styles */

.checkbox {
    margin-top: 2rem;
}

input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.hide {
    display: none;
    margin-top: 1rem;
}

.hide p {
    color: red;
}
